h1 { background-color: crimson; color: cyan; text-align: center; font-size: 40pt; font-family: fantasy; 
    padding: 10pt; margin: 10pt; border: 10pt; width: 500pt; height: 50pt;}
.button {background-color:aquamarine; padding: 5pt;}